* {
    font-family: 'Roboto Flex','Calibri', Helvetica, Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: darkorange; 
    color: beige;
    border-radius:4px;
    position:sticky;
    top:0;
    width:100%;
}

.navbar-left,
.navbar-right {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar-right {
    margin-left: auto;
}

.navbar a {
    display:block;
    padding: 1em;
    text-decoration: none;
    color: beige;
    margin: 0 15px;
    border-radius:25px;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: orange;
    border-radius:25px;
}

.content {
    width:90%;
    margin:auto;
}

.footer {
    padding-top:1%;
    width:100%;
    text-align: center;
    background-color: darkorange;
    color:beige;
    border-radius:4px;
    position:fixed;
    bottom:0;
    line-height: 0.8;
}

.petitions-all a{
    text-decoration: none;
    color:black;
}

.petition-block {
    padding: 1em;
    margin:auto;
    border-radius: 10px;
}

.petition-block:hover {
    background-color: rgba(226, 129, 0, 0.12);
}

.petition-title {
    font-size: larger;
    font-weight:bold;
    display:block;
}