:root {
    --navbar-primary: rgb(228,100,52);
    --navbar-highlight: rgb(255, 127, 81);
    --main-hover-bg: rgba(228,100,52, .25);
    --subdued-yellow: rgb(212,172,100);
    --subdued-red: rgb(204, 36, 52);
    --subdued-blue: rgb(44, 76, 124);
  }
* {
    font-family: 'Roboto Flex','Calibri', Helvetica, Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar-primary); 
    color: beige;
    border-radius:4px;
    position:sticky;
    top:0;
    width:100%;
}

.navbar-left,
.navbar-right {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar-right {
    margin-left: auto;
}

.navbar a {
    display:block;
    padding: 1em;
    text-decoration: none;
    color: beige;
    margin: 0 15px;
    border-radius:25px;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: var(--navbar-highlight);
    border-radius:25px;
}

.content {
    width:90%;
    margin:auto;
}

.footer {
    padding-top:1%;
    width:100%;
    text-align: center;
    background-color: var(--navbar-primary);
    color:beige;
    border-radius:4px;
    position:fixed;
    bottom:0;
    line-height: 0.8;
}

.petitions-all a{
    text-decoration: none;
    color:black;
}

.petition-block {
    padding: 1em;
    margin:auto;
    border-radius: 10px;
}

.petition-block:hover {
    background-color:var(--main-hover-bg);
}

.petition-title {
    font-size: larger;
    font-weight:bold;
    display:block;
}