{% extends 'main.html' %}

{% block content %}
    <h1>About Us</h1>
    <p>
        Welcome to VoiceIt! - Where students' voices ignite change!
    </p>
    
    <h3>Members</h3>
    
    <p>
        Here at VoiceIt! We recognize that students come across an array of issues that arise in our contemporary world. With that, we have noticed that many of these issues go unnoticed or ignored. We noticed the problem that lay within this system, we realized there needed to be a platform to give awareness to these student needs.
    </p>
    
    <p>
        We present you VoiceIt! Created by Ahad Ahmad, Harry Derderian, Ryan Monte, Harsh Chuncha, and Kevin Liu, we present a platform where students can bring awareness to issues in a localized campus setting. Whether it is Social Injustice or Student Needs, VoiceIt! Is here to voice all your needs!
    </p>
    
    <p>
        <strong>Our Belief for the Future of Students!</strong>
    </p>
    
    <p>
        We believe that students are the future and their voices are important. With that, we believe that you have a right to be heard! A right to bring about issues that you see that affects your everyday life in the university setting! A right to speak on the voices of the pupils that walk daily through the university halls!
    </p>
    
    <p>
        So, what are you waiting for? Voice It!
    </p>
{% endblock content %}
