{% extends 'main.html'%}
{%block content%}
<div>
<h1>
    Voicelt - Empowering Student Voices for Local Change
</h1> 
<p>
    Welcome to Voicelt, a platform designed to empower students to make a difference in their college campuses. 
    In a world where global change is essential, we believe in the power of thinking locally to bring about meaningful transformations. 
    This README provides an overview of our project and how to get started with it.
</p>
<h2>
    About Voicelt
</h2>
<p>
    Quite often, we see enterprising youth striving to make a significant impact on the world. 
    Popular platforms like Change.org and GoFundMe provide a stage for various causes, but there's a gap when it comes to localized change.
    Voicelt addresses this gap by focusing on enabling students to create, submit, and gather signatures for petitions that affect their college campuses directly.
</p>

<h2>
    Key Features:
</h2>
<ul>
    <li>
        Create Petitions: Students can easily create petitions for issues that pertain to their college or university.
    </li>
    <li>
        Collect Signatures: Share your petitions and gather support from fellow students who care about the same issues.
    </li>
    <li>
        Local Impact: By thinking locally, we can empower students to drive change within their educational institutions.
    </li>
</ul>

<h2>Why Voicelt?</h2>
<p>Voicelt follows the principle of "think locally, act globally." 
    We firmly believe that meaningful changes often start on a smaller scale. 
    By giving students the tools to address campus-specific issues, we foster a sense of empowerment and ownership within their respective institutions of higher learning. 
    This approach is crucial because it's at the local level that some of the most impactful changes can be initiated, benefiting students from diverse backgrounds.</p>
</div>
{%endblock content%}