{% extends 'main.html'%}
{%block content%}
<div class="text-center">
<h1>
    Voicelt - Empowering Student Voices for Local Change
</h1> 
<p>
    Welcome to Voicelt, a platform designed to empower students to make a difference in their college campuses. 
    In a world where global change is essential, we believe in the power of thinking locally to bring about meaningful transformations. 
    This README provides an overview of our project and how to get started with it.
</p>
<h2>
    About Voicelt
</h2>
<p>
    Quite often, we see enterprising youth striving to make a significant impact on the world. 
    Popular platforms like Change.org and GoFundMe provide a stage for various causes, but there's a gap when it comes to localized change.
    Voicelt addresses this gap by focusing on enabling students to create, submit, and gather signatures for petitions that affect their college campuses directly.
</p>

<h2>
    Key Features:
</h2>
<ul>
    <li>
        Create Petitions: Students can easily create petitions for issues that pertain to their college or university.
    </li>
    <li>
        Collect Signatures: Share your petitions and gather support from fellow students who care about the same issues.
    </li>
    <li>
        Local Impact: By thinking locally, we can empower students to drive change within their educational institutions.
    </li>
</ul>

<h2>Why Voicelt?</h2>
<p>Voicelt follows the principle of "think locally, act globally." 
    We firmly believe that meaningful changes often start on a smaller scale. 
    By giving students the tools to address campus-specific issues, we foster a sense of empowerment and ownership within their respective institutions of higher learning. 
    This approach is crucial because it's at the local level that some of the most impactful changes can be initiated, benefiting students from diverse backgrounds.</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique, diam eu pellentesque dictum, nisl mauris tincidunt mi, eu lobortis ex urna vitae enim. Suspendisse ut porta nisl, vitae pharetra leo. Nam et sem libero. Proin tincidunt, mauris id mattis finibus, nisl elit convallis neque, eget commodo enim neque vel dolor. Donec non viverra nulla. Nulla vitae pulvinar sem. Duis imperdiet dignissim nisl tristique tincidunt. Phasellus at egestas lectus, ut imperdiet nibh. Maecenas pellentesque lobortis eros ut consequat. Donec arcu ante, iaculis quis pulvinar id, faucibus id neque. Phasellus consectetur posuere metus finibus venenatis.

Phasellus sed congue felis, nec rhoncus odio. Sed tincidunt leo nec lacinia tincidunt. Integer congue ornare porta. Pellentesque vehicula lobortis nisl non ornare. Pellentesque ex velit, sagittis vel lobortis at, dapibus ut ligula. Phasellus accumsan, mi at luctus vestibulum, ligula orci porta ex, id dignissim lacus diam fringilla lorem. Suspendisse potenti. Sed elit nibh, gravida sit amet pretium vel, fermentum vitae orci. Aliquam gravida finibus ex ac feugiat.

Proin vestibulum urna nec cursus malesuada. Donec mollis, ligula ac accumsan euismod, ligula ligula bibendum nisi, vitae consequat ligula magna sit amet sem. Sed vitae ultrices mauris. Mauris lorem est, tempor id libero sit amet, vulputate dictum ipsum. Sed molestie id leo nec vulputate. Sed varius arcu in sapien ullamcorper, vitae tincidunt eros finibus. Etiam tincidunt accumsan ornare. Sed eu ipsum sed massa dictum scelerisque non vel felis. Quisque semper sagittis lacus. Vivamus venenatis arcu justo, eget dapibus metus viverra ultricies. Nam efficitur orci et lectus consectetur, vitae pulvinar mauris vulputate.

Vivamus eros felis, aliquam sit amet eleifend at, condimentum vel metus. Pellentesque euismod id augue in malesuada. Curabitur ac porttitor purus. Nulla facilisi. Vivamus lacus ante, accumsan at luctus sed, feugiat ut libero. Nunc arcu lacus, efficitur vel volutpat et, fringilla vel nibh. Sed mattis ante nunc. Aliquam accumsan massa ac posuere iaculis. Vivamus accumsan tempor sem et dictum. Morbi sed lectus iaculis leo volutpat aliquet sed sit amet est. Nunc sit amet elit eu libero hendrerit dictum. Cras commodo tempus porta. Vestibulum volutpat, velit non laoreet bibendum, urna justo convallis eros, sit amet vulputate lorem sapien eu ante. Sed id posuere ante. Curabitur a luctus nisl, ac accumsan nunc.

Duis dolor lorem, hendrerit sit amet justo congue, aliquet facilisis sapien. Suspendisse pharetra posuere orci, sit amet blandit ante suscipit vitae. Proin nec ante nec risus efficitur scelerisque. Quisque at diam id lorem gravida lacinia sed ac tortor. Pellentesque ac justo ac orci facilisis sollicitudin. Vestibulum ac aliquam nunc. Morbi diam odio, luctus et tellus semper, molestie vestibulum lacus. Etiam ut nisl nulla. Donec ornare justo quis vestibulum aliquam. Nulla non dictum ante. 
</p>
</div>
{%endblock content%}