{% extends 'main.html' %}

{% block content %}
<h1>Petitions</h1>
<label>Category Selection</label>
<form action="" method="POST" class="petitions-dropdown">
    {% csrf_token %}
    <select name="q">
        <option value="">All</option>
        {% for category in categories %}
        <option value={{category.id}}>{{category.category_str}}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>

<div class="petitions-all">
    {% for petition in petitions %}
    <a href="{% url 'petition' petition.id%}">
    <div class="petition-block">
        <span class="petition-title">{{petition.title}}</span>
        <p>Category: {{petition.category}}</p>
        <p>{{petition.author.username}}: {{petition.last_updated}}</p>
    </div>
    </a>
    <hr>
    {% endfor %}
</div>
<a href="{% url 'create-petition' %}">
    <button class="petition-button">
        New Petition
    </button>
</a>
{%endblock content%}