{% extends 'main.html' %}

{% block content %}



<h1>Petitions</h1>
<div class="petitions-all">
    {% for petition in petitions %}
    <a href="{% url 'petitions'%}">
    <div class="petition-block">
        <span class="petition-title">{{petition.title}}</span>
        <p>Category: {{petition.category}}</p>
        <p>{{petition.author.username}}: {{petition.last_updated}}</p>
    </div>
    </a>
    <hr>
    {% endfor %}
</div>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&autoplay=1">
    <button class="petition-button">
        New Petition
    </button>
</a>
{%endblock content%}