{% extends 'main.html' %}
{% block content %}
<div class="petition-view">
    <div class="main-petition">
        <h1>{{petition.title}}</h1>
        {% if request.user == petition.author%}
        <a href="{% url 'edit-petition' pk=petition.pk%}">
            <button class="petition-button">Edit Petition</button>
        </a>
        {% endif %}
        <h3>({{petition.category}})</h3>
        <h4>Posted by: {{petition.author.username}} at {{petition.creation_date}}</h4>
        
        <p class="petition-text">{{petition.description}}</p>
        <p><small>Signature goal: {{petition.signature_goal}}</small></p>
        <p><small>Total signatures: {{petition.total_signatures}}</small></p>
        {% if request.user.is_authenticated %}
        {% if not request.user in users %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="sign_petition">
                <input type="text" id="name" name="name" required minlength="4" maxlength="20" size="10" />
                <br>  
                <span>
                    <input type="checkbox" id="tosaccept" name="tosaccept"/> 
                    <small>By checking this box you accept the TOS</small>
                    <p id="warning"><small>WARNING: You cannot unsign petitions! Make sure you want to sign this petition.</small></p>
                </span>
                <br>
                <button type="submit">Sign Now</button>
            </form>
        {% else %}
            <p>You have signed this petition.</p>
        {% endif %}
        {% else %}
            <p>Log in to sign now!</p>
        {% endif %}
    </div>
    <br>
    <hr>
    {% for reply in replies %}
    <!--Change how comments look compared to main petition-->
    <div class="comment">
        <small>Posted By: {{reply.author.username}}</small>
        <p class="comment-text">{{reply.description | linebreaks}}</p>
    </div>
    <hr>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="submit_reply">
        <textarea type="text" name="reply" class="wide-textbox"></textarea>
        <button type="submit" class="petition-button">Submit</button>
    </form>
</div>
{% endblock content %}